*
!./.gitignore

!services/
!services/*

!klipper/
!klipper/*.config
!klipper-upgrade.sh

!printer/
!printer/*
!printer/*/*
printer/.fluidd_console_history.json
printer/printer-????????_??????.cfg

sdcard/*
!sdcard/
!sdcard/.keepme

!moonraker.conf
!KlipperScreen.conf

!nginx-site.conf

!autocommit.sh
